<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/adminStyle.css?1.0" asp-append-version="true"/>
</head>
<body>
    <header>
        <partial name="Header.cshtml" />
    </header>
    <div>
        <main>
            <partial name="AdminSidebar.cshtml" />
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
