<div class="sidebar">
    <ul class="sideLinks">
        <li><a asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>
        <li><a asp-area="" asp-controller="Rols" asp-action="Index">Roles</a></li>
        <li><a asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a></li>
    </ul>
</div>