@{
    ViewData["Title"] = "Reserve.com";
}

<div class="indexContainer">
    <div>
        <h1>Sign up and make your reservation.</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad, ex cumque, sit unde quis odio, facere maxime a autem quam voluptas repudiandae impedit.
            Est labore, reprehenderit consectetur illum soluta qui.
        </p>
        <a href="@Url.Action("Register", "Home")">Create an account</a>
    </div>
</div>
